:root {
  --margin-width: 1rem;
}

body,
#root,
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 4rem;
  max-height: 5rem;
  padding: var(--margin-width);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.header-title {
  font-size: 1.5rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
}

.content > * {
  background-color: white;
  margin: var(--margin-width);
  padding: var(--margin-width);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: calc(100% - 2 * var(--margin-width));
  max-width: 720px;
}

.quiz-choices > * + * {
  margin-top: 1rem;
}

#finish-quiz-btn,
.quiz-summary-btn-container > button {
  width: 100%;
}

.quiz-preview-btn-container,
.quiz-question-btn-container,
.quiz-question-header,
.quiz-summary-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-preview-btn-container > * + *,
.quiz-question-btn-container > * + *,
.quiz-summary-btn-container > * + * {
  margin-left: 1rem;
}

.quiz-preview-btn-container > button {
  width: 10rem;
}

.quiz-question-btn-container > button {
  width: 15rem;
}

#question-answer {
  transition: none;
}
