body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.app {
  --margin-width: 1rem;
  background-color: white;
  padding: var(--margin-width);
  margin: var(--margin-width);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
  width: calc(100% - 2 * var(--margin-width));
  max-width: 720px;
}

.quiz-choices > * + * {
  margin-top: 1rem;
}

.quiz-preview {
  width: 100%;
}

.quiz-preview-btn-container, .quiz-question-btn-container, .quiz-question-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-preview-btn-container > * + *, .quiz-question-btn-container > * + * {
  margin-left: 1rem;
}

.quiz-preview-btn-container > button {
  width: 10rem;
}

.quiz-question-btn-container > button {
  width: 15rem;
}